// the moment the user unzooms hide the button
[data-rmiz-modal-overlay='hidden']
  + [data-rmiz-modal-content]
  [data-rmiz-btn-unzoom] {
  display: none;
}

[data-rmiz-content='found'] {
  display: flex;
  justify-content: center;
}
