border-reveal($color, $border-width, $vertical-offset, $horizontal-offset) {
  &:after, &:before {
    box-sizing: border-box;
    content: '';
    display: block;
    position: absolute;
    transition: top 0.25s ease, right 0.25s ease, bottom 0.25s ease, left 0.25s ease, width 0.25s ease, height 0.25s ease, border-width 0.25s ease;
    box-sizing: border-box;
    width: 0%;
    height: 0%;
  }

  &:after {
    border-top: 0px solid $color;
    border-left: 0px solid $color;
    top: -($vertical-offset);
    left: -($horizontal-offset);
  }

  &:before {
    border-bottom: 0px solid $color;
    border-right: 0px solid $color;
    bottom: -($vertical-offset);
    right: -($horizontal-offset);
  }

  &:hover {
    &:after, &:before {
      border-width: $border-width;
      height: 'calc(100% + %s)' % ($vertical-offset * 2);
      width: 'calc(100% + %s)' % ($horizontal-offset * 2);
    }
  }
}